<div class="container-fluid pt-3 pb-5">
    <div class="row">
        <div class='col-12'>
            <div class="row justify-content-center align-items-center g-2">
                <div class="col-12 text-center">
                    <h1>Personal Properties Listing diary</h1>
                </div>
            </div>
            <div class="row mt-1 mb-1">
                <div class='col-md-6 offset-md-3 text-center'>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable
                        content of a page when looking at its layout. The point of using Lorem Ipsum is
                        that it has a more-or-less normal distribution of letters, as opposed to using
                        'Content here, content here', making it look like readable English.</p>
                </div>
            </div>
            <div class="row justify-content-center align-items-center g-2">
                <div class="col-3 col-md-2">
                    <a
                        name=""
                        id=""
                        class="btn btn-outline-primary col-2 form-control"
                        href="#"
                        role="button">Explore</a>
                </div>
            </div>

        </div>

    </div>
    <div class="row mt-5">
        <h2 class="text-secondary my-5">Latest Properties</h2>
        <% @properties.each do |property| %>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><%= property.name %></h5> <hr />
                        <ul>
                        <li>Rooms: <%= property.rooms %></li>
                        <li>Bathrooms: <%= property.bathrooms %></li>
                        <li>Price: <%= property.price %></li>
                        <li>Address: <%= property.address %></li>
                        </ul>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>